<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style='background-color: #f6f6f6; font-family: sans-serif;'>
	<div style="font-size: 40px; text-align: center">{{appName}}</div>
	<img src={{logoURL}} style='height: 150px; width: 420px; border: none; display: block; margin-right: auto; margin-left: auto; margin-top: 5px'/>
	<div style="font-size: 30px; text-align: center">{{text}}
	</div>
</body>
</html>